body {
  background-color: lightblue;
}
img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  text-align: left;
}
